@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 18;
}

.myClassTextField {
  text-align: left;
  height: 100px;
}

.myClassButton {
  text-align: left;
  height: 100px;
}

.myClassImage {
  margin-top: 50px;
  height: 300px;
  width: 300px;
}
